<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        
        <main id="pd_main-container">
                <div class="container">
                    <div class="link-ruta">
                        <nav>
                            <ul>
                                <li>></li>
                                <li><a href="/"><strong>Atras</strong></a></li>
                                <li>/</li>
                                <li><a href="/admin">Administrador</a></li>   
                            </ul>
                        </nav>
                    </div>
                    <div class="pd_tit-categoria">Categorías </div>
                </div>

            <section id="pd_listado-products" >
                <div class="container">
                    <div>    
                        <form action="/category/create" id="form-category"  method="POST">
                        <div class="fr_nombre">
                            <label class="fr_lbltexto">ABM Categorías</label>
                            <input type="text" name="name" id="name" required>
                            <span id="name_error" class="error is-invalid">
                                <%= locals && locals.errors && locals.errors.name &&
                                    locals.errors.name.msg %>
                            </span>
                        </div>
                        <br>
                        <div class="fr_registro">
                            <div class="fr_registro-left">
                                <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                                    <span class="pd_gl-cta__content">
                                        Crear
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form> 
                     </div>
                     <br><hr><br>
                     <label class="fr_lbltexto">Listado de Categorías</label>
                    <ul>
                        <% for( let i = 0; i < categories.length; i++ ) { %>
                        <li class="listado">
                            <a href="category/detail/<%= categories[i].id %>"><%= categories[i].name %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>
        
            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>
        
        <%- include('../partials/footer') %>
        <script src="/js/validator/form-category-validation.js"></script>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

        <script>
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        </script>

    </body>
</html>