<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>

    <body class="productDetails">
        <%- include('partials/header') %>
        
        <main id="pd_main-container">
            <section>
                <div class="container link-ruta">
                    <nav>
                        <ul>
                            <li>></li>
                            <li><a href="/"><strong>Atras</strong></a></li>
                            <li>/</li>
                            <li><a href="/admin">Administrador</a></li>   
                        </ul>
                    </nav>
                </div>
            </section>
            <section>
                <div class="container">
                    <div><a href="/"><img src="/images/404.jpg" alt="" class="e404"></a></div>

                    </div>
                </div>
            </section>


            

        </main>


        <%- include('partials/newsletter') %>

        <%- include('partials/prefooter') %>
        
        <%- include('partials/footer') %>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

        <script>
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        </script>

    </body>
</html>